<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.amazon.Hawk.TestSuites.SearchTestSuite"/>
      <class name="com.amazon.Hawk.TestSuites.BuyTestSuite"/>
      <class name="com.amazon.Hawk.TestSuites.LoginTestSuite"/>
      <class name="com.amazon.Hawk.TestSuites.DbTestSuite"/>
      <class name="com.amazon.Hawk.TestSuites.LocalizationTestSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
